body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f8f9fa;
}

.dashboard-card {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 900px;
}

.dashboard-card h1 {
  font-size: 2rem;
  margin-bottom: 30px;
}

.dashboard-card table {
  width: 100%;
  margin-bottom: 20px;
}

.dashboard-card .btn {
  width: 100%;
  padding: 10px;
  font-size: 1.2rem;
}

.card-header {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.table th,
.table td {
  text-align: center;
}

.table td {
  vertical-align: middle;
}

.pagination {
  justify-content: center;
}
